# ------------- Port -------------
PORT=3000

# ------------- Database -------------
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/ecommerce_mvp"

# ------------- MinIo -------------
MINIO_ENDPOINT="localhost:9000"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"

# ------------- Security -------------
# use this commande for generate a random secret:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET="her_the_secret_key_generated_by_node_commande"

# ------------- Stripe -------------
STRIPE_SECRET_KEY="sk_test_xxx"
STRIPE_WEBHOOK_SECRET="whsec_xxx"

# ------------- Exchange API -------------
EXCHANGE_API_KEY="your_exchange_api_key"